<div class="bg-image">
    <h1 style="text-align: center;color: green; font-weight: 900 ;">Pension Management System</h1>

<div class="container">
         
<div class="col-md-12">
    
<div style="border:2px solid;border-radius: 5%;margin: 30px;padding: 15px;">
    <h1 style="text-align: center;color: rgb(141, 119, 119);">Enter Pensioner Details</h1>
    
<form (ngSubmit)="onSubmit()" method="GET" name="pension" id="pension" class="form">
    <div class="col-md-10" style="font-size:larger;">
    <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="pensionDetails.name" placeholder="Enter Pensioner Name" required=""/>
    </div>
    <div class="form-group">
    <label for="panNumber">Permanent Account Number(PAN)</label>
    <input type="text" class="form-control" name="panNumber" [(ngModel)]="pensionDetails.panNumber" placeholder="Enter PAN Number" required=""/>
    </div>
    <div class="form-group">
    <label for="adhar">Aadhaar Number</label>
    <input type="text" class="form-control" name="adhar" [(ngModel)]="pensionDetails.aadhaarNumber" placeholder="Enter Aadhaar Number" required=""/>
    </div>
    <div class="form-group">
    <label for="dateOfBirth">Date of Birth</label>
    <input type="text" class="form-control" name="dateOfBirth" [(ngModel)]="pensionDetails.dateOfBirth" placeholder="Enter Date of Birth" required=""/>
    </div>
    <div class="form-group">
    <label for="typeOfPension">Pension Type</label>
    <select name="typeOfPension" class="form-control" id="typeOfPension" [(ngModel)]="pensionDetails.typeOfPension">
        <option value="Family pension">Family Pension</option>
        <option value="Self pension">Self Pension</option>
    </select><br>
    </div>
    <div class="form-group"> 
<!--<div style="text-align:center;" >
    <div class="button">
    <input type="submit" style="background-color:rgb(105, 105, 214);" value="Submit"/>
    </div>
    </div>
-->
    <div style="text-align:center;">
    <button type="submit" class="btn btn-info">Calculate Pension</button></div>
    </div>
    </div>
</form>
{{pensionDetails | json}}
</div>
</div>
</div>
</div>
    